<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a href="/celebrities/index"  class="button"> List of Celebrities </a>

<a href="/celebrities/new"  class="button"> Create a new Celebrity </a>

<br>

<a href="/movies/index"  class="button"> List of Movies </a>


<a href="/movies/new"  class="button"> Create a new Movie </a>